@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

$titleFont: "Satisfy", cursive;
$mainFont: "Raleway", sans-serif;
$light: #ffffff;
$mainColor: #9398a2;
$contrastColor: #353535;
$bodyColor: #5d5d5d;
$lightGray: #dedede;
$background-top: #e8faff;
$background-bottom: #c1d9f1;
$button-background: darken($background-bottom, 20%);

$breakpoint-xs: 400px;
$breakpoint-sm: 575px;
$breakpoint-md: 650px;
$breakpoint-lg: 950px;

$mildBorder: 20px;
$roundedBorder: 50px;

@font-face {
  font-family: "white_oleander";
  src: url("whiteoleander-webfont.woff2") format("woff2"),
    url("whiteoleander-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  margin: 0px;
}

.texture-bg {
  background-image: url("../images/cream_pixels.png");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px 0px;
}
a:-webkit-any-link {
  text-decoration: none !important;
}

main {
  flex-grow: 1;
  position: relative;
}

.landing-grid {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 7rem;
}

.white-oleander {
  font-family: "white_oleander";
}
