@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

$brand: #c29cad;
$brand-dark: #905870;
$brand-light: #ecd6e0;
$brand-lightest: #f4ecf0;

$breakpoint-xs: 400px;
$breakpoint-sm: 575px;
$breakpoint-md: 650px;
$breakpoint-lg: 950px;

$mildBorder: 20px;
$roundedBorder: 50px;

@font-face {
  font-family: "white_oleander";
  src: url("whiteoleander-webfont.woff2") format("woff2"),
    url("whiteoleander-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  margin: 0px;
}

.texture-bg {
  background-image: url("../images/cream_pixels.png");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px 0px;
}
a:-webkit-any-link {
  text-decoration: none !important;
}

main {
  flex-grow: 1;
  position: relative;
}

.landing-grid {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 7rem;
}

.white-oleander {
  font-family: "white_oleander";
}

.product {
  &:hover {
    .overlay {
      display: flex;
    }
  }
}

.overlay {
  display: none;
  //background: transparentize($brand, 0.25);
  background: transparentize(#ffffff, 0.25);
  animation: fadeIn ease 750ms;
  -webkit-animation: fadeIn ease 750ms;
  -moz-animation: fadeIn ease 750ms;
  -o-animation: fadeIn ease 750ms;
  -ms-animation: fadeIn ease 750ms;
}

.grid {
  &-reviews {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    //grid-auto-rows: 150px;
    grid-auto-flow: row dense;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
